:root {
    --bg-color:#333;
    --secondary-contrast:#407080;
    --contrast-color:#00BFFF;
    --main-color:#FFA600;
    --secondary-color:#FF5500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    background-image: url("assets/firebg.png");
    background-size:auto;
    background-position: bottom;
    background-repeat: no-repeat;
}

.fire{
    background-color: var(--secondary-contrast);
    background-position-y: center;
    background-size: cover;
    color: var(--main-color);
}

.water{
    background-color:var(--bg-color);
}

.container {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    text-align: center;
    display: block;
    margin:20px;
    margin-top: 0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
}

.content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

nav ul {
    border-radius: 50px;
    margin:10px 100px;
    background-color: var(--main-color);
    list-style-type: none;
    display:flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    color:var(--secondary-contrast);
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: var(--contrast-color);
}

footer {
    position:relative;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.fab {
    padding:10px;
    padding-left: 9px;
    font-size: 30px;
    width:50px !important;
    text-decoration: none;
    border-radius: 30px;
}

.fab:hover {
    opacity: 0.7;
}


.fa-youtube {
    background: #960000;
    color: white;
}

.fa-discord {
    background: #7289da;
    color: white;
}

#gamecontainer {
    height: 100%;
    border:none;
    width: 100%;
    aspect-ratio: 16 / 9;
    padding:0;
}
#gamediv {
    display:none;
    overflow: scroll;
    padding:0;
}

#catalog{

}

.catalog-item {
    margin:5px;
    padding:10px;
    border-radius: 5px;
    width:100%;
    display:flex;
    justify-content:center;
}

.game-entryinfo {
    max-width: 60%;
    display:grid;
    place-items: center;
}